$dark-black: #000000;
$black: #323232;
$dark-blue:#0065AD;
$blue: #0095FF;
$mercury: #E1E1E1;
$silver: #AFAFAF;
$alabaster: #fafafa;
$white: #ffffff;

$mobile-breakpoint: 20rem;
$mobile-min: 20rem;
$mobile-layout-margin: 1rem;

$tablet-breakpoint: 48rem;
$tablet-min: 48rem;
$tablet-layout-margin: 2.25rem;

$desktop-breakpoint: 80rem;
$desktop-min: 80rem;
$desktop-layout-margin: auto;
