@forward "partials/core";
@forward "partials/typography";
@use "partials/responsive" as responsive;
@use "partials/colors";

.container {
  max-width: 80rem;
  margin-inline: auto;
  padding-inline: clamp(1rem, 5vw, 2.25rem);
}

.border {
  @include responsive.desktop {
    border-right: 0.0625rem solid colors.$mercury;
  }
}
