@use "../../styles/partials/colors" as colors;
@use "../../styles/partials/typography" as typography;
@use "../../styles/partials/responsive" as responsive;

.next-video {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 0.5rem 0;

  &__link{
    text-decoration: none;
  }

  &__aside {
    background-color: colors.$mercury;
    height: 3.875rem;
    width: 6.875rem;
    border-radius: 0.25rem;
  }

  &__image {
    height: inherit;
    width: inherit;
    border-radius: inherit;
    object-fit: cover;
  }

  &__body {
    max-width: 10.125rem;
  }

  &__channel {
    margin: 0;
  }

  &__title {
    margin-top: 0;
    margin-bottom: 0.5rem;
  }

  @include responsive.tablet {
    padding-left: 1.5rem;

    &__body {
      max-width: 12.5rem;
    }
  }
}
