@use "../../styles/partials/colors" as colors;
@use "../../styles/partials/responsive" as responsive;

.navigation {
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  &__logo-container {
    display: flex;
    justify-content: center;
  }

  &__logo {
    max-height: 1.5625rem;
    width: 7.5rem;
  }

  &__main {
    display: flex;
    flex-wrap: wrap;
  }

  &__upload {
    width: 100%;
    margin-top: 1rem;
  }

  &__search {
    max-width: 80%;
    margin-right: 1rem;
    flex-grow: 1;
  }

  @include responsive.tablet {
    gap: 1.5rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &__main {
      flex-wrap: nowrap;
      flex-direction: row;
      gap: 1.5rem;
    }

    &__search {
      margin-right: 0;
      flex-grow: 0;
    }

    &__upload {
      margin-top: 0;
    }

    &__avatar {
      order: 3;
    }
  }
}
