header {
  display: flex;
  flex-direction: row;
 
}

.navigation {
    padding-top: 1rem;
    padding-bottom: 1rem;

  &__logo-container {
    display: flex;
    justify-content: center;
  }

  &__logo{
    max-height: 1.5625rem;
    width: 7.5rem;
  }

  &__box{
    border-style: none;
    padding-left: .75rem;
  }
}
